@tailwind base;
@tailwind components;
@tailwind utilities;

.monaco-editor, .monaco-editor-background, .monaco-editor .inputarea.ime-input {
    background-color: #1A1D1F !important;
}

.p-button {
    padding: 6px 12px !important;
}

.p-button:not(a):not(.p-disabled):hover {
    background-color: #242A2E !important;
}

.p-splitter {
    border: none !important;
}

.p-tooltip {
    background-color: #242A2E !important;  
}